<%- include('./partials/header.ejs') %>
<form action="/" method="POST">
    <label for="skill">skill</label>
    <input id="skill" type="text" name="skill">
    <label for="skillLevel">Skill Level 0-10</label>
    <input id="skillLevel" type="number" name="skillLevel">
    <button type="submit">add skill</button>
</form>
<ul>
<% skills.forEach(skill => { %>
    <li> <a href="/skills/<%= skill.id %>"><%= skill.skill %></a> </li>
<% }) %>
</ul>

<%- include('./partials/footer.ejs') %>